.button{

}

.label{

}

.text-field{
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #d5d5d5;

}
.error{
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: red;
}
© 2021 GitHub, Inc.
Terms
